.image-row {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    flex-wrap: wrap;
}

.image-container2 {
    flex: 0 0 calc(50% - 10px); /* Set the width for 2 images per row with some spacing */
    margin-bottom: 20px;
    text-align: center; /* Center the images */
}

.image-container {
    flex: 0 0 calc(100%); /* Set the width for 2 images per row with some spacing */
    margin-bottom: 55px;
    text-align: center; /* Center the images */
}
.image-container-first {
    flex: 0 0 calc(100%); /* Set the width for 2 images per row with some spacing */
    margin-bottom: -10px;
    text-align: center; /* Center the images */
}
.image-container-last {
    flex: 0 0 calc(100%); /* Set the width for 2 images per row with some spacing */
    margin-bottom: 5px;
    text-align: center; /* Center the images */
}
.image-contact {
    flex: 0 0 calc(100%); /* Set the width for 2 images per row with some spacing */
    margin-bottom: 5px;
    text-align: center; /* Center the images */
}
.text-contact {
    flex: 0 0 calc(100%); /* Set the width for 2 images per row with some spacing */
    margin-bottom: 5px;
    text-align: center; /* Center the images */
}
.thumbnail {
    height: 600px;
    width: auto;
}

.thumbnail-narrow {
    height: 600px;
    width: auto;
}

.image-overlay {
    display: none;
    position: fixed;
    padding-top: 300px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow-x: auto;
    overflow-y: auto;
}

.image-overlay-narrow {
    display: none;
    position: fixed;
    padding-top: 300px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow-x: auto;
    overflow-y: auto;
}

/* Container for the entire checkerboard and banner image row */
.checkerboard-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

/* Container for the entire checkerboard and banner image row */
.checkerboard-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    flex-wrap: wrap; /* Allow wrapping for smaller screens */
}

/* Checkerboard container to hold the 2x2 grid of images */
.checkerboard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px; /* Adjust the spacing between images */
    margin: 0 10px; /* Space around the checkerboard */
    flex: 0.15; /* Allow checkerboards to grow or shrink as needed */
}

/* Style for each checkerboard item */
.checkerboard-item img {
    width: 100%;
    height: auto;
    display: block;
}

/* Style for the banner image container */
.banner-image {
    flex: 0.4; /* Give the banner image more space proportionally */
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 800px; /* Ensure the banner image has a maximum width */
}

/* Ensure the banner image itself shrinks proportionally */
.banner-image img {
    width: 100%;
    height: auto;
    max-width: 100%;
}

.enlarged-first {
    max-width: 170%;
    max-height: 170%;
    margin-bottom: -10px;
}
.enlarged {
    max-width: 170%;
    max-height: 170%;
}

.optional-text {
    text-align: center;
    margin: 20px;
}

.br {
    height: 2px;
    background: rgb(f3, f6, fa);
}
#nav .active a {
    /* color: #555555; /* Change the color to a darker shade */
    font-weight: bold; /* Optionally make the font bold */
}
/* Global reset for anchor tags to remove underlines and borders */
a, a:hover, a:focus, a:active {
    text-decoration: none;
    border: none;
    outline: none;
}

/* Styling for the image row container */
.image-row-buttons {
    display: flex;
    justify-content: center; /* Ensure everything stays centered */
    align-items: center;
    padding: 40px 0;
    max-width: 600px; /* Max width can be adjusted as per your design needs */
    margin: 0 auto; /* This centers the row in the page */
}

/* Styling for each image link to adjust padding and specific margins */
.image-link {
    margin: 0 5px; /* Reduced margin to bring images closer */
    display: inline-block;
}
/* Styling for smaller screens */
@media (max-width: 1000px) {
    .thumbnail, .thumbnail-narrow {
        width: 50%; /* Sets width to 100% of the container */
        height: auto; /* Adjust height automatically to maintain aspect ratio */
    }

    .checkerboard-container {
        flex-wrap: wrap; /* Allow wrapping on smaller screens */
    }

    .checkerboard {
        margin: 10px 0;
    }

    .banner-image {
        max-width: 30%;
        margin: 10px 0;
    }

    .banner-image img {
        max-width: 30%;
    }
}

/* Media query for larger screens */
@media (min-width: 600px) {
    .image-link {
        margin: 0 10px; /* Slightly larger margin for larger screens but still closer than before */
    }
    .banner-image {
        max-width: 100%;
        margin: 10px 0;
    }

    .banner-image img {
        max-width: 100%;
    }
}

@media (max-width: 600px) {
    .checkerboard-container {
        flex-direction: column; /* Stack everything vertically on small screens */
    }

    .checkerboard,
    .banner-image {
        max-width: 100%;
    }
}